@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-text font-sans antialiased overflow-hidden h-screen w-screen selection:bg-primary/30;
  }
}

@layer utilities {
  .glow-text {
    text-shadow: 0 0 20px rgba(142, 68, 255, 0.5);
  }
}
